.post-body {
  +mobile() {
    text-align: justify;
  }
}

.post {
	margin-top: 0px !important;
	margin-bottom: 30px !important;
}

.posts-expand {
  padding-top: 0px;
}

.posts-expand .post-meta {
	margin: 3px 0 30px 0;
}

.post-button {
    margin-top: 0px;
}

.posts-expand .post-eof {
    margin: 30px auto 0px;
 }

.pagination {
	margin: 0px;
}
